.statTable__title {
	text-align: right;
	border-right: 1px solid var(--primaryColor-lightgrey);
	padding: 0 0.8rem;
}

.statTable__statCell {
	padding: 0 0.8rem;
}

.statTable__meterCell {
	width: 100%;
}

.statTable__meterCell meter {
	width: 100%;
}

.statTable__meterCell meter::-webkit-meter-bar {
	height: 4px;
	width: 100%;
	border: none;
	border-radius: 4px;
}

.statTable__meterCell meter::-webkit-meter-inner-element {
	border-radius: 4px;
}