.movesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.movesList {
  list-style: none;
}

.movesList__item {
  text-transform: capitalize;
  font-size: 10px;
  line-height: 16px;
}